.footer {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: absolute;
    left: 0;
    right: 0;
}

.bottom-footer-author {
    display: block;
    margin: 50px auto;
}

.bottom-footer {
    margin-top: 100px;
    width: 100%;
    display: block;

}